//
// Colors
//

$primary-color:    #d87d4a;
$primary-color-l:  #fbaf85;

$grey:             #4c4c4c;
$black:            #000;
$black-50:         hsla(0, 0%, 0%, 0.5);

$white:            #fff;
$white-50:         hsla(0, 0%, 100%, 0.5);
$white-75:         hsla(0, 0%, 100%, 0.75);

$dark-bg:          #101010;
//$light-bg-100:    #fafafa;
$light-bg-100:     #f1f1f1;
$light-bg-200:     #f2f2f2;

$border-color:     hsla(0, 100%, 100%, 0.2);

// States color

$focus-primary-color: $primary-color;

// Forms color

$border-input-color: #cfcfcf;
$input-error:              #CD2C2C;

//
// Measurement
//

$sp-base: 8px; /* base space */
$sp-1: $sp-base;
$sp-2: 16px;
$sp-3: 24px;
$sp-4: 32px;
$sp-5: 40px;
$sp-6: 48px;
$sp-7: 56px;
$sp-8: 64px;
$sp-9: 72px;
$sp-10: 80px;
$sp-11: 88px;
$sp-12: 96px;

// Border radious

$border-rd: 8px; 
